@import "tailwindcss";


body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

code, pre {
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  overflow-x: auto;
}
main {
  @apply text-xl;
}

h1 {
    @apply text-2xl leading-tight;
    font-weight: 500;
}
h2 {
    @apply text-xl leading-tight tracking-tight;
    font-weight: 500;
}
h3 {
    @apply text-lg leading-tight tracking-tight;
    font-weight: 500;
}
p {
    @apply text-base pt-1 pb-8;
}
pre {
    @apply text-base bg-gray-100 p-4 rounded my-4;
}

.cl-cardBox {
    @apply shadow-none! border border-zinc-200;
    transform: translateY(10%);
}

a {
  @apply hover:underline;
}
/* .comment-connection-line {
  @apply  border-l border-red-600;
} */
