@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

code, pre {
  font-family: "Inconsolata", monospace;
  font-weight: 500;
}
main {
  @apply text-xl;
}

h1 {
    @apply text-3xl leading-tight;
    font-weight: 600;
}
h2 {
    @apply text-2xl leading-tight;
    font-weight: 600;
}
h3 {
    @apply text-xl leading-tight;
    font-weight: 600;
}
p {
    @apply text-base py-2;
}
pre {
    @apply text-base bg-gray-100 p-4 rounded my-4;
}

